<!doctype html>
<html lang="en" style="width:100%;height:100%;margin:0;padding:0;border:0;">

<head>
    <meta charset="utf-8">
    <script src="/widgets/cc-baselib/static/vue.js"></script>
    <script src="/widgets/cc-baselib/static/element-ui/index.js"></script>
    <script src="/widgets/cc-baselib/static/axios.min.js"></script>
    <script src="/widgets/cc-baselib/static/httpVueLoader.js"></script>

    <script src="/widgets/cc-baselib/src/commonFunctionsForSiyuan.js"></script>
    <script src="/widgets/cc-baselib/src/siYuanApi.js"></script>
    <script src="/widgets/cc-baselib/src/componentsList.js"></script>

    <link rel="stylesheet" href="/widgets/cc-baselib/static/element-ui/theme-chalk/index.css">
    <link id='themeDefaultStyle'>

<body >
    <div id="app" @mousemove="计算挂件尺寸()" @keydown="计算挂件尺寸()">
        <el-button v-if="挂件自身元素" @click="渲染模板()">+{{当前模板名称}}</el-button>
        <span class="el-icon-edit" v-if="!显示设置" @click="显示设置=!显示设置"></span>
        <span class="el-icon-check" v-if="显示设置" @click="显示设置=!显示设置"></span>

        <span v-if="!挂件自身元素">ip可能不对,尝试重新插入挂件或者干脆用iframe吧</span>
        <el-divider v-if="显示设置"></el-divider>
        <el-select 
        filterable
        v-if="显示设置"
        v-model="当前模板路径" 
        @focus="获取模板列表();计算挂件尺寸()"
        @blur="计算挂件尺寸()"
        @visible-change	="计算挂件尺寸()"
        @mousemove="计算挂件尺寸()"
       :append-to-body="false"
        >

            <el-option

            v-for ="(template,i) in 模板列表"
            :value= "template.path"
            :label="template.name"
            style="top:50 px"
            >
            <span   @mousemove="计算挂件尺寸()" style="width:100%;height:100%;"
            >{{template.name}} </span>
            </el-option>
        </el-select>
        <el-divider v-if="显示设置"></el-divider>
        
        <el-switch
        v-if="显示设置"

        v-model="模板添加方向"
        :inactive-color="'var(--b3-card-success-color)'"
        :active-color="'var(--b3-card-error-color)'"
        :inactive-value="'按钮上方'"
        :active-value="'按钮下方'"
        :inactive-text="'按钮上方'"
        :active-text="'按钮下方'"
        ></el-switch>
        <div         v-if="显示设置"
        style="color:transparent !important;background-color: transparent;" >
        <div style="color:transparent !important;background-color: transparent;">知行合一 经世致用</div>
        作者的推荐码是N2p37W6
        </div>
   
    </div>
</body>
<script>
    Vue.use(httpVueLoader);
    var vm = new Vue({
        el: "#app",
        components: componentsList,
        data() {
            return {
                模板添加方向:true,
                思源伺服ip:"",
                主界面: "",
                当前块id: "",
                模板列表:[],
                挂件自身元素: "",
                apitoken: "",
                
                书签列表: "",
                当前属性源: "当前文档",
                属性源选项数组: ["当前编辑块", "当前文档", "挂件前一个块"],
                当前块属性: {},
                当前模板路径:"",
                展开:false,
                显示设置:false,
            }
        },
        mounted() {
            this.主界面 = window.parent.document
            this.思源伺服ip = window.location.host
            this.$获取思源主界面主题(this.主界面)
            this.当前属性源 = this.$html转义(this.当前属性源)
            this.挂件自身元素 = this.$挂件自身元素()
            window.onload=this.计算挂件尺寸()
            this.获取模板列表()
            

        },
        methods: {
            渲染模板:async function(){
                let 临时属性数组 = await this.$以id数组通过sql形式获取思源块信息数组([this.$挂件自身元素().getAttribute("data-node-id")])
                    let 挂件自身属性 = 临时属性数组[0]
                     let 当前文档id = 挂件自身属性["root_id"] 
                let templatedata={
                    id:当前文档id,
                    path:this.当前模板路径
                }
                console.log(this.$挂件自身元素().parentElement)

                let templateres =  await 渲染模板(this.思源伺服ip,this.apitoken,templatedata) 
                let templatedom = templateres.data.content
                let el = this.模板添加方向=="按钮下方"?this.$挂件自身元素():this.$挂件自身元素().previousElementSibling  
                let 插入位置id= el?el.getAttribute("data-node-id"):当前文档id
                if(this.$挂件自身元素().parentElement.getAttribute("class")=="li"&&!this.$挂件自身元素().previousElementSibling.previousElementSibling&&this.模板添加方向=="按钮上方"){
                    插入位置id=this.$挂件自身元素().parentElement.parentElement.previousElementSibling.getAttribute("data-node-id")
                    console.log(this.$挂件自身元素().parentElement.parentElement.previousElementSibling)
                }
                if (!插入位置id){插入位置id=this.$挂件自身元素().getAttribute("data-node-id")||this.挂件自身元素.getAttribute("data-node-id")||当前文档id}
                let 插入确认 =  await this.$以id数组通过sql形式获取思源块信息数组([插入位置id])
                if(插入确认[0]){

                    if
                    (this.模板添加方向!="按钮下方"){
                let data  = {
                    "dataType": "dom",
                    "data": '<div data-node-id=\"20220106235242-t0ogxed\" data-type=\"NodeParagraph\" class=\"p\"><div contenteditable=\"true\" spellcheck=\"false\"><wbr></div><div class=\"protyle-attr\"></div></div>',
                    "previousID": 插入位置id
                }
                 await 插入块(this.思源伺服ip,this.apitoken,data)
                 let realdata  = {
                    "dataType": "dom",
                    "data": templatedom,
                    "previousID": "20220106235242-t0ogxed"
                }
                 await 插入块(this.思源伺服ip,this.apitoken,realdata)
                 await 删除块(this.思源伺服ip,this.apitoken,"20220106235242-t0ogxed")
                 }else{
                 let realdata  = {
                    "dataType": "dom",
                    "data": templatedom,
                    "previousID":插入位置id
                }
                await 插入块(this.思源伺服ip,this.apitoken,realdata)

                 }
                }
                else{console.log(插入位置id)}
                 this.计算挂件尺寸()
            },
            
            获取模板列表:async function (){
                this.计算挂件尺寸()
                
                let 模板列表 =  []
                this.思源伺服ip = window.location.host
                模板数据 = await 以关键词搜索模板(this.思源伺服ip,this.apitoken,"")
                this.模板列表=模板数据.data.blocks
                this.模板列表.forEach(template=>
                template.name = template.path.slice(template.path.lastIndexOf("\\")+1).split(".")[0]
                )
                console.log(模板列表)
                this.当前模板路径= this.当前模板路径||this.模板列表[0]?this.模板列表[0].path:""
                this.计算挂件尺寸()
            },
            
            计算挂件尺寸() {
                this.当前模板路径 = this.$挂件自身元素().getAttribute("custom-template")||""
                this.模板添加方向 = this.$挂件自身元素().getAttribute("custom-template-position")
             let   挂件iframe元素= window.frameElement
            挂件iframe元素.style.backgroundColor="transparent"

            console.log(window.frameElement);
            let el = window.document.querySelector(".el-select-dropdown")
            let eldisplay=el?el.style.display:false
            console.log(el)
            eldisplay==false||eldisplay=="none"?挂件iframe元素.style.height="60px"
            :挂件iframe元素.style.height =  "450px";
            if (!this.显示设置){
                let button = window.document.querySelector(".el-button")

                挂件iframe元素.style.width=button?button.offsetWidth+60+"px":"200px";
            }
            if (this.显示设置&&(!eldisplay||eldisplay=="none")){
                
                挂件iframe元素.style.height= 挂件iframe元素.offsetWidth>640?挂件iframe元素.style.height:"450px"
            }
            },
         
            
            
        },
        computed:{
            当前模板名称(){
                let template = this.当前模板路径
                return template.slice(template.lastIndexOf("\\")+1).split(".")[0]
            }
        },
        watch: {
            当前模板路径:{
                async handler (val){
                    if(val){
                        let id = this.$挂件自身元素().getAttribute("data-node-id")
                        this.$挂件自身元素().setAttribute("custom-template", val)
                        await 设置思源块属性(this.思源伺服ip, this.apitoken, id, "custom-template", val)
                    }
                    
                    }
                },
            模板添加方向:{
                async handler (val){
                    if(val){
                        let id = this.$挂件自身元素().getAttribute("data-node-id")
                        this.$挂件自身元素().setAttribute("custom-template-position", val)
                        await 设置思源块属性(this.思源伺服ip, this.apitoken, id, "custom-template-position", val)
                    }
                    
                    },
                
            }
           
        }
    }
    )

</script>
<style>
    html,
    html div,
    html span,
    label {
        background-color: var(--b3-theme-background);
        color: var(--b3-theme-on-background) !important;
        font-family: var(--b3-font-family);

    }
    html,#app,html span,.el-switch{
        background-color: transparent;

    }
    button,
    input {
        background-color: var(--b3-theme-surface-light) !important
    }

    .el-table,
    .el-table__expanded-cell {
        background-color: transparent !important;
    }

    .el-table th,
    .el-table tr,
    .el-table td {
        background-color: transparent !important;
    }

    .fullwidth>.el-input {
        width: "100%";
        color: var(--b3-theme-on-background) !important
    }

    .el-select__caret,
    .el-input__suffix,
    .el-input__suffix-inner {
        background-color: transparent !important
    }

    .el-popover,
    .el-textarea__inner {
        background-color: var(--b3-theme-background);

    }
    li.el-select-dropdown__item{
        max-width: calc(100vw - 20px);
        overflow-wrap: wrap;
    }
</style>